<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OneNow | About</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" id="stylesheet" href="css/brightTheme.css">
</head>

<body>
    <header class="myTopbar">

        <nav>
            <ul class="tabs">
                <li class="tab"> <a href="/login">LOG IN</a> </li>
                <li class="tab"> <a href="/downloads">DOWNLOADS</a> </li>
                <li class="tab"> <a href="/feedback">FEEDBACK</a> </li>
                <li class="tab"> <a href="/dashboard">DASHBOARD</a> </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="heading">
            <p>LADMYAC </p>
            <hr>
        </div>

        <div class="myBigCard">
            <p>The life cycle of paper is damaging to the environment from beginning to end. It starts off with a <i class='bx bxs-tree' style="color: rgb(1, 202, 1);"></i>tree being cut down and ends its life by being burned – emitting carbon dioxide in
                the atmosphere. Paper production uses up lots of <i class='bx bxs-droplet' style="color: rgb(0, 201, 236);"></i>water. ... When paper rots, it emits methane, a greenhouse gas.
                <br><br>That's why I started this digital platform. Hope you'll find this project useful.<br> Thank you for comming here.</p>
        </div>

        <img src="images/manoj.jpeg" height="300" alt="Logo" style="border-radius: 150px;">
        <img src="images/ashish.jpg" height="300" alt="Logo" style="border-radius: 150px;">

        <div class="myBigCard">
            <h1>“You define your own life. Don’t let other people write your script.”</h1>
        </div>
        <div class="heading">
            <p>Manoj Kuamr</p>
            <p>Ashish Kuamr</p>
        </div>
        <div class="footer">
            <br>
            <h1>
                <a class="footerIcon" href="https://twitter.com/rohit821128"><i class='bx bxl-twitter'></i></a>
                <a class="footerIcon" href="mailto: onenow.inc@gmail.com"><i class='bx bxl-gmail'></i></a>
                <a class="footerIcon" href="https://github.com/hellFlames"><i class='bx bxl-github'></i></a>
                <a class="footerIcon" href="https://t.me/onenowproject"><i class='bx bxl-telegram'></i></a>
                <a class="footerIcon" href="https://www.linkedin.com/in/rohit-dangi-8b0a43219/"><i class='bx bxl-linkedin'></i></a>
            </h1>
            <br>
            <p><span>© Copyright 2022. All Rights Reserved.</span></p>
            <br>
            <p>Disclaimer : The OneNow Library Website contains content from a variety of sources and should be used for educational purposes only. You may choose to provide your personal information. We will not share this information or any other personal
                information about Library users with outside parties.</p>
            <br>
            <br>
        </div>
    </div>





    <div class="themeChanger">
        <a href="#" class="float" onclick="themeFunction()"><i class='bx bx-moon'></i></a>
    </div>
    <script>
        var theme = document.getElementById("stylesheet");
        var isChanged = false;

        function themeFunction() {
            if (isChanged) {
                theme.href = "css/brightTheme.css";
                isChanged = false;
            } else {
                theme.href = "css/darkTheme.css";
                isChanged = true;
            }
        }
    </script>
    <script>
        /*__________________________________________________theme changer__________________________________________*/
        var theme = document.getElementById("stylesheet");
        var isChanged = false;

        function themeFunction() {
            if (isChanged) {
                theme.href = "css/brightTheme.css";
                isChanged = false;
            } else {
                theme.href = "css/darkTheme.css";
                isChanged = true;
            }
        }
    </script>


</body>

</html>
