<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OneNow | Users</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" id="stylesheet" href="css/brightTheme.css">
</head>


<body onload="getAllEmployeeInfo()">
    <header class="myTopbar">
        <nav>
            <i class='bx bx-menu' id="btn"></i>
            <h1 style="color: crimson;">LADMYAC</h1>
            <ul class="tabs">
                <li class="tab"><input class="universalInput" type="search" placeholder="Search" aria-label="Search" id="searchId"></li>
                <li class="tab "><a href="/dashboard"> BACK </a></li>
            </ul>
        </nav>
    </header>
    <div class="mySidebar">
        <ul class="myList">
            <!-- sec:authorize="hasAnyAuthority('ADMIN','CREATER')"-->
            <li>
                <a href="/departments"><i class='bx bxs-building'></i> <span class="myListItemNames">Department</span>
                </a></li>
            <li>
                <a href="/feedback"> <i class='bx bxs-pencil'></i> <span class="myListItemNames">Feedback</span>
                </a>
            </li>
            <li>
                <a href="/handleDownloads"> <i class='bx bxs-downvote'></i> <span class="myListItemNames">Downloads</span>
                </a>
            </li>
            <li>
                <a href="about"><i class='bx bxs-hot'></i><span class="myListItemNames">About</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <input type="hidden" id="hiddenId" />
        <div id="employeeTBLId"></div>
    </div>


    <div class="myDeleteModel" id="myDeleteModel">
        <ul class="modelList">
            <li class="modelHeader">
                <span class="closeD">&times;</span>
                <h1>Deleting...</h1>
            </li>
            </li>
            <li class="listItems">
                <p>
                    Are you really sure. You want to continue..
                </p>
            </li>
            <li class="modelFooter">
                <a href="#" class="" onclick="deleteEmployeeData()">DELETE</a>
            </li>
        </ul>
    </div>

    <div class="myEditModel" id="myEditModel">
        <ul class="modelList">
            <li class="modelHeader">
                <span class="closeE">&times;</span>
                <h1>Editing...</h1>
            </li>
            </li>
            <li class="listItems">
                <label style="margin-left: 10px;">Change name :</label>
                <input type="text" class="universalInput" id="usr">
                <label style="margin-left: 10px;">Change contact :</label>
                <input type="text" class="universalInput" id="contactId">
            </li>
            <li class="modelFooter">
                <a href="#" class="" onclick="updateEmployee()">UPLOAD</a>
            </li>
        </ul>
    </div>

    <div class="myRoleModel" id="myRoleModel">
        <ul class="modelList">
            <li class="modelHeader">
                <span class="closeRM">&times;</span>
                <h1>Assign a role</h1>
            </li>
            </li>
            <li class="listItems">
                <select class="universalSelect" id="roleNameId">
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="CREATER">CREATER</option>
                </select>
            </li>
            <li class="modelFooter">
                <a href="#" class="" onclick="updateRole()">SAVE</a>
            </li>
        </ul>
    </div>

    <script>
        let mySidebar = document.querySelector(".mySidebar");
        let closeBtn = document.querySelector("#btn");
        closeBtn.addEventListener("click", () => {
            mySidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });
        // following are the code to change mySidebar button(optional)
        function menuBtnChange() {
            if (mySidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
            }
        }
        /*__________________________________________________theme changer__________________________________________*/
        var theme = document.getElementById("stylesheet");
        var isChanged = false;

        function themeFunction() {
            if (isChanged) {
                theme.href = "css/brightTheme.css";
                isChanged = false;
            } else {
                theme.href = "css/darkTheme.css";
                isChanged = true;
            }
        }
    </script>
    <script src="js/editModal.js"></script>
    <script src="js/deleteModal.js"></script>
    <script src="js/addRoleModal.js"></script>

    <script type="text/javascript">
        function getAllEmployeeInfo() {
            jQuery
                .ajax({
                    type: 'GET',
                    cache: true,
                    async: false,
                    contentType: 'application/json',
                    dataType: 'json',
                    url: location.origin + "/all",
                    success: function(data) {
                            $('#employeeTBLId')
                                .html(
                                    '<table class="table  table-bordered "  id="allPat" ></table>');
                            dataTable = $('#allPat')
                                .dataTable({
                                    "data": data,
                                    "bLengthChange": false,
                                    "bFilter": true,
                                    "bInfo": false,
                                    "scrollCollapse": true,
                                    "paging": true,
                                    'iDisplayLength': 10,
                                    "dom": 'lrtip',
                                    "aoColumns": [{
                                            "mDataProp": "userId",
                                            "title": "Id",
                                            "width": "2%"
                                        }, {
                                            "mDataProp": "name",
                                            "title": "Name",
                                            "width": "15%"
                                        }, /*{
                                            "mDataProp": "department",
                                            "title": "Department",
                                            "width": "30%"
                                        }, */{
                                            "mDataProp": "contact",
                                            "title": "Contact",
                                            "width": "20%"
                                        }, {
                                            "mDataProp": "email",
                                            "title": "Email",
                                            "width": "10%"
                                        }, {
                                            "mDataProp": "isActive",
                                            "title": "Active",
                                            "width": "5%"
                                        }, {
                                            "mDataProp": "role",
                                            "title": "Role",
                                            "width": "15%"
                                        }, /*
                                        {
                                            "mDataProp": "myTheme",
                                            "title": "Theme",
                                            "width": "15%"
                                        }, */{
                                            "mDataProp": "",
                                            "title": "Remove",
                                            "width": "2%"
                                        },

                                        {
                                            "mDataProp": "",
                                            "title": "Update",
                                            "sWidth": "2px"
                                        }, {
                                            "mDataProp": "",
                                            "title": "Power",
                                            "sWidth": "2px"
                                        }
                                    ],
                                    "columnDefs": [{
                                        "sClass": "editTblAction",
                                        "sWidth": "20px",
                                        "targets": -2,
                                        "data": null,
                                        "title": "Edit",
                                        "bSortable": false,
                                        /* "defaultContent" : "<button type='button' class='btn btn-primary' onclick='editEmployee(1)'><i>edit</i></button>" */
                                        render: function(data,
                                            type, row) {
                                            return '<a class="blueButton" href="#" onclick="addOrEditData(' +
                                                row.userId +
                                                ')">EDIT</a>';
                                        }

                                    }, {
                                        "targets": -3,
                                        "sClass": "editTblAction",
                                        "data": null,
                                        "title": "ReSendOTP",
                                        "bSortable": false,
                                        "sWidth": "20px",
                                        //"defaultContent": "<a class='reSendOtp' title='Delete Record' href=\"\" onclick=\deleteData();return false;\"><span class='glyphicon glyphicon-trash'></span></a>"
                                        render: function(data,
                                            type, row) {
                                            return '<a class="redButton" href="#" onclick="deleteData(' +
                                                row.userId +
                                                ')">DELETE</a>';
                                        }
                                    }, {
                                        "targets": -1,
                                        "sClass": "editTblAction",
                                        "data": null,
                                        "title": "ReSendOTP",
                                        "bSortable": false,
                                        "sWidth": "20px",
                                        //"defaultContent": "<a class='reSendOtp' title='Delete Record' href=\"\" onclick=\deleteData();return false;\"><span class='glyphicon glyphicon-trash'></span></a>"
                                        render: function(data,
                                            type, row) {
                                            return '<a class="goldButton" href="#"  onclick="ChangeRoleFunction(' +
                                                row.userId +
                                                ')">ROLE</a>';
                                        }
                                    }]
                                });

                        }
                        //)
                });
            $("#searchId").keyup(function() {
                dataTable.fnFilter(this.value);
                $("#allPat_filter").hide();
            });

        }

        function deleteData(userId) {
            var modal = document.getElementById("myDeleteModel");
            modal.style.display = "block";
            $("#hiddenId").val(userId);
        }

        function editData(userId) {
            var modal = document.getElementById("myEditModel");
            modal.style.display = "block";
            $("#hiddenId").val(userId);
        }

        function deleteEmployeeData() {
            jQuery.ajax({
                type: 'DELETE',
                cache: true,
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                url: location.origin + "/employee/" + $("#hiddenId").val(),
                success: function(data) {
                    debugger;
                    window.location.assign(location.origin + "/userTable")
                },
                error: function(data) {
                    window.location.assign(location.origin + "/userTable");
                }
            });
        }

        function addOrEditData(userId) {
            var modal = document.getElementById("myEditModel");
            modal.style.display = "block";

            jQuery.ajax({
                type: 'GET',
                cache: true,
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                url: location.origin + "/employee/" + userId,
                success: function(data) {
                    $("#usr").val(data.name);
                    $("#contactId").val(data.contact);
                    $("#hiddenId").val(userId);
                }
            });
        }

        function updateEmployee() {
            var inputPayload = {
                "name": $("#usr").val(),
                "contact": $("#contactId").val()
            }
            var inputPayloadString = JSON.stringify(inputPayload);
            jQuery.ajax({
                type: 'POST',
                cache: true,
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                url: location.origin + "/employee/" + $("#hiddenId").val(),
                data: inputPayloadString,
                success: function(data) {
                    window.location.assign(location.origin + "/userTable")
                },
                error: function(data) {
                    window.location.assign(location.origin + "/userTable");
                }
            });

        }

        function ChangeRoleFunction(userId) {
            var modal = document.getElementById("myRoleModel");
            modal.style.display = "block";
            $("#hiddenId").val(userId);
        }

        function updateRole() {

            var inputPayload = {
                "role": $("#roleNameId").val()
            }
            var inputPayloadString = JSON.stringify(inputPayload);
            jQuery.ajax({
                type: 'POST',
                cache: true,
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                url: location.origin + "/updateRole/" + $("#hiddenId").val(),
                data: inputPayloadString,
                success: function(data) {
                    window.location.assign(location.origin + "/userTable")
                },
                error: function(data) {
                    window.location.assign(location.origin + "/userTable");
                }
            });
        }
    </script>

</body>

</html>
